<!DOCTYPE html>
<html>
  <head>
    <title>To Dos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Todos</h1>
    <p>Welcome to todos</p>
  </body>
</html>
